.birthdays-class{
    background-color: lightseagreen;
    text-align: center;
    color: white;
    padding: 50px 50px;
}
#header{
    height: 55px;
}
.adding-birthday{
    text-align: center;
    justify-content: space-evenly;
}
button{
    background-color: aliceblue;
    border: 1px solid gray;
}
.birth-table{
    text-align: center;
}
#table-date{
    width: 100%; 
}
table, th, td {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid lavender;
}
th, td{
    padding: 10px;
}
  tr:nth-child(even) {
    background-color: rgb(176, 211, 223);
} 